In [5]:
import sys
sys.path.insert(0, '../code/')
import pandas as pd
import covariate
import numpy as np

#### Read in measurement and covariates data files

In [1]:
# ----- insert code to read in files -------

In [6]:
covariate.interpolate(data, {'ow': overweight, 'bmi': bmi, 'fpg': fpg}, population);

In [7]:
data.head()

,location_id,sex,age_start,age_end,year_start,year_end,mean,standard_error,measure,ow,bmi,fpg
0,543,Female,10,14.000,2000,2000,0.002224,0.000951,prevalence,0.372527,28.315340,0.00000
1,86,Male,45,49.000,1997,1997,0.000053,0.000033,incidence,0.642712,25.731849,5.10174
2,566,Male,10,14.000,2011,2011,0.002914,0.000137,prevalence,0.374802,29.531616,0.00000
3,98,Male,0,14.000,1990,1990,0.000015,0.000100,incidence,0.077259,25.361510,0.00000
4,527,Female,0,0.999,2011,2011,0.000030,0.000010,prevalence,0.000000,28.988190,0.00000