In [1]:
import sys
sys.path.insert(0, '../code/')
import pandas as pd
import covariate
import numpy as np

In [2]:
measurement = pd.read_csv('./data/copd/copd_sincidence.csv', low_memory=False)[['location_id', 'sex', 'age_start', 'age_end',
        'year_start', 'year_end', 'mean', 'standard_error', 'measure']]
elevation = pd.read_csv('./data/copd/elevation.csv')[['location_id', 'sex_id', 'age_group_id', 'year_id', 'mean_value']]
ldi = pd.read_csv('./data/copd/ldi.csv')[['location_id', 'sex_id', 'age_group_id', 'year_id', 'mean_value']]
sev = pd.read_csv('./data/copd/sev_copd.csv')[['location_id', 'sex_id', 'age_group_id', 'year_id', 'mean_value']]
population = pd.read_csv('./data/pop.csv')[['location_id', 'sex_id', 'age_group_id', 'year_id', 'population']]
measurement.dropna(inplace=True)
sev['age_group_id'] = 22

In [3]:
elevation.dropna(inplace=True)
ldi.dropna(inplace=True)
sev.dropna(inplace=True)
population.dropna(inplace=True)
measurement = measurement.reset_index(drop=True)

In [4]:
measurement.head()

,location_id,sex,age_start,age_end,year_start,year_end,mean,standard_error,measure
0,71,Female,50,59,2005,2006,0.108689,0.030,prevalence
1,71,Female,60,69,2005,2006,0.220574,0.045,prevalence
2,71,Male,40,49,2005,2006,0.054871,0.019,prevalence
3,71,Male,50,59,2005,2006,0.083323,0.032,prevalence
4,71,Male,60,69,2005,2006,0.280452,0.047,prevalence

#### Try on a small subset of data

In [6]:
subset = np.random.choice(measurement.shape[0], size=500, replace=False)
data = measurement.iloc[subset,:].reset_index(drop=True)
import time
t0 = time.time()
covariate.interpolate(data, {'ldi': ldi, 'elevation': elevation, 'sev': sev}, population);
print('elapsed', time.time() - t0)

location_id              565
sex                     Male
age_start                  5
age_end                    9
year_start              2014
year_end                2014
mean              0.00284573
standard_error    0.00110826
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 0, dtype: object
location_id              565
sex                     Male
age_start                  5
age_end                    9
year_start              2014
year_end                2014
mean              0.00284573
standard_error    0.00110826
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 0, dtype: object
location_id              565
sex                     Male
age_start                  5
age_end                    9
year_start              2014
year_end                2014
mean              0.00284573
standard_error    0.00110826
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 0, dtype: object
location_id              548
sex                     Male
age_start                 45
age_end                   49
year_start              2010
year_end                2010
mean               0.0385946
standard_error    0.00706905
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 1, dtype: object
location_id              548
sex                     Male
age_start                 45
age_end                   49
year_start              2010
year_end                2010
mean               0.0385946
standard_error    0.00706905
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 1, dtype: object
location_id              548
sex                     Male
age_start                 45
age_end                   49
year_start              2010
year_end                2010
mean               0.0385946
standard_error    0.00706905
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 1, dtype: object
location_id              572
sex                     Male
age_start                 35
age_end                   39
year_start              2010
year_end                2010
mean              0.00451787
standard_error    0.00153295
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 2, dtype: object
location_id              572
sex                     Male
age_start                 35
age_end                   39
year_start              2010
year_end                2010
mean              0.00451787
standard_error    0.00153295
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 2, dtype: object
location_id              572
sex                     Male
age_start                 35
age_end                   39
year_start              2010
year_end                2010
mean              0.00451787
standard_error    0.00153295
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 2, dtype: object
location_id              537
sex                     Male
age_start                 95
age_end                   99
year_start              2014
year_end                2014
mean                0.565452
standard_error     0.0347771
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 3, dtype: object
location_id              537
sex                     Male
age_start                 95
age_end                   99
year_start              2014
year_end                2014
mean                0.565452
standard_error     0.0347771
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 3, dtype: object
location_id              537
sex                     Male
age_start                 95
age_end                   99
year_start              2014
year_end                2014
mean                0.565452
standard_error     0.0347771
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 3, dtype: object
location_id              570
sex                     Male
age_start                 60
age_end                   64
year_start              2011
year_end                2011
mean                0.108824
standard_error     0.0179763
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 4, dtype: object
location_id              570
sex                     Male
age_start                 60
age_end                   64
year_start              2011
year_end                2011
mean                0.108824
standard_error     0.0179763
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 4, dtype: object
location_id              570
sex                     Male
age_start                 60
age_end                   64
year_start              2011
year_end                2011
mean                0.108824
standard_error     0.0179763
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 4, dtype: object
location_id              509
sex                     Male
age_start                 85
age_end                   89
year_start              2002
year_end                2004
mean                0.261854
standard_error     0.0461127
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 5, dtype: object
location_id              509
sex                     Male
age_start                 85
age_end                   89
year_start              2002
year_end                2004
mean                0.261854
standard_error     0.0461127
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 5, dtype: object
location_id              509
sex                     Male
age_start                 85
age_end                   89
year_start              2002
year_end                2004
mean                0.261854
standard_error     0.0461127
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 5, dtype: object
location_id              509
sex                     Male
age_start                 85
age_end                   89
year_start              2002
year_end                2004
mean                0.261854
standard_error     0.0461127
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 5, dtype: object
location_id              509
sex                     Male
age_start                 85
age_end                   89
year_start              2002
year_end                2004
mean                0.261854
standard_error     0.0461127
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 5, dtype: object
location_id              509
sex                     Male
age_start                 85
age_end                   89
year_start              2002
year_end                2004
mean                0.261854
standard_error     0.0461127
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 5, dtype: object
location_id              509
sex                     Male
age_start                 85
age_end                   89
year_start              2002
year_end                2004
mean                0.261854
standard_error     0.0461127
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 5, dtype: object
location_id              509
sex                     Male
age_start                 85
age_end                   89
year_start              2002
year_end                2004
mean                0.261854
standard_error     0.0461127
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 5, dtype: object
location_id              509
sex                     Male
age_start                 85
age_end                   89
year_start              2002
year_end                2004
mean                0.261854
standard_error     0.0461127
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 5, dtype: object
location_id              569
sex                     Male
age_start                 50
age_end                   54
year_start              2010
year_end                2010
mean               0.0643069
standard_error      0.010811
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 6, dtype: object
location_id              569
sex                     Male
age_start                 50
age_end                   54
year_start              2010
year_end                2010
mean               0.0643069
standard_error      0.010811
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 6, dtype: object
location_id              569
sex                     Male
age_start                 50
age_end                   54
year_start              2010
year_end                2010
mean               0.0643069
standard_error      0.010811
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 6, dtype: object
location_id              568
sex                   Female
age_start                 40
age_end                   44
year_start              2013
year_end                2013
mean               0.0144888
standard_error     0.0129822
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 7, dtype: object
location_id              568
sex                   Female
age_start                 40
age_end                   44
year_start              2013
year_end                2013
mean               0.0144888
standard_error     0.0129822
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 7, dtype: object
location_id              568
sex                   Female
age_start                 40
age_end                   44
year_start              2013
year_end                2013
mean               0.0144888
standard_error     0.0129822
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 7, dtype: object
location_id              572
sex                   Female
age_start                 45
age_end                   49
year_start              2011
year_end                2011
mean               0.0175635
standard_error    0.00359712
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 8, dtype: object
location_id              572
sex                   Female
age_start                 45
age_end                   49
year_start              2011
year_end                2011
mean               0.0175635
standard_error    0.00359712
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 8, dtype: object
location_id              572
sex                   Female
age_start                 45
age_end                   49
year_start              2011
year_end                2011
mean               0.0175635
standard_error    0.00359712
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 8, dtype: object
location_id              565
sex                   Female
age_start                 90
age_end                   94
year_start              2011
year_end                2011
mean                0.375004
standard_error     0.0481435
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 9, dtype: object
location_id              565
sex                   Female
age_start                 90
age_end                   94
year_start              2011
year_end                2011
mean                0.375004
standard_error     0.0481435
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 9, dtype: object
location_id              565
sex                   Female
age_start                 90
age_end                   94
year_start              2011
year_end                2011
mean                0.375004
standard_error     0.0481435
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 9, dtype: object
location_id              547
sex                     Male
age_start                 95
age_end                   99
year_start              2011
year_end                2011
mean                0.408456
standard_error      0.142745
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 10, dtype: object
location_id              547
sex                     Male
age_start                 95
age_end                   99
year_start              2011
year_end                2011
mean                0.408456
standard_error      0.142745
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 10, dtype: object
location_id              547
sex                     Male
age_start                 95
age_end                   99
year_start              2011
year_end                2011
mean                0.408456
standard_error      0.142745
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 10, dtype: object
location_id              543
sex                     Male
age_start                 20
age_end                   24
year_start              2014
year_end                2014
mean              0.00210483
standard_error    0.00125489
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 11, dtype: object
location_id              543
sex                     Male
age_start                 20
age_end                   24
year_start              2014
year_end                2014
mean              0.00210483
standard_error    0.00125489
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 11, dtype: object
location_id              543
sex                     Male
age_start                 20
age_end                   24
year_start              2014
year_end                2014
mean              0.00210483
standard_error    0.00125489
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 11, dtype: object
location_id              524
sex                   Female
age_start                 20
age_end                   24
year_start              2011
year_end                2011
mean               0.0012078
standard_error    0.00634256
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 12, dtype: object
location_id              524
sex                   Female
age_start                 20
age_end                   24
year_start              2011
year_end                2011
mean               0.0012078
standard_error    0.00634256
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 12, dtype: object
location_id              524
sex                   Female
age_start                 20
age_end                   24
year_start              2011
year_end                2011
mean               0.0012078
standard_error    0.00634256
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 12, dtype: object
location_id             4749
sex                     Male
age_start                 70
age_end                   79
year_start              1995
year_end                1996
mean                0.203076
standard_error     0.0626224
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 13, dtype: object
location_id             4749
sex                     Male
age_start                 70
age_end                   79
year_start              1995
year_end                1996
mean                0.203076
standard_error     0.0626224
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 13, dtype: object
location_id             4749
sex                     Male
age_start                 70
age_end                   79
year_start              1995
year_end                1996
mean                0.203076
standard_error     0.0626224
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 13, dtype: object
location_id             4749
sex                     Male
age_start                 70
age_end                   79
year_start              1995
year_end                1996
mean                0.203076
standard_error     0.0626224
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 13, dtype: object
location_id             4749
sex                     Male
age_start                 70
age_end                   79
year_start              1995
year_end                1996
mean                0.203076
standard_error     0.0626224
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 13, dtype: object
location_id             4749
sex                     Male
age_start                 70
age_end                   79
year_start              1995
year_end                1996
mean                0.203076
standard_error     0.0626224
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 13, dtype: object
location_id              529
sex                   Female
age_start                 55
age_end                   59
year_start              2000
year_end                2000
mean               0.0787032
standard_error     0.0307026
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 14, dtype: object
location_id              529
sex                   Female
age_start                 55
age_end                   59
year_start              2000
year_end                2000
mean               0.0787032
standard_error     0.0307026
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 14, dtype: object
location_id              529
sex                   Female
age_start                 55
age_end                   59
year_start              2000
year_end                2000
mean               0.0787032
standard_error     0.0307026
measure           prevalence
ldi                        0
elevation                  0

location_id              545
sex                     Male
age_start                 15
age_end                   19
year_start              2014
year_end                2014
mean              0.00249763
standard_error    0.00073977
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 52, dtype: object
location_id              545
sex                     Male
age_start                 15
age_end                   19
year_start              2014
year_end                2014
mean              0.00249763
standard_error    0.00073977
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 52, dtype: object
location_id             4749
sex                   Female
age_start                 10
age_end                   19
year_start              2010
year_end                2010
mean                0.113904
standard_error     0.0697785
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 53, dtype: object
location_id             4749
sex                   Female
age_start                 10
age_end                   19
year_start              2010
year_end                2010
mean                0.113904
standard_error     0.0697785
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 53, dtype: object
location_id             4749
sex                   Female
age_start                 10
age_end                   19
year_start              2010
year_end                2010
mean                0.113904
standard_error     0.0697785
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 53, dtype: object
location_id              155
sex                     Male
age_start                 50
age_end                   59
year_start              2011
year_end                2011
mean                 0.11756
standard_error      0.018651
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 54, dtype: object
location_id              155
sex                     Male
age_start                 50
age_end                   59
year_start              2011
year_end                2011
mean                 0.11756
standard_error      0.018651
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 54, dtype: object
location_id              155
sex                     Male
age_start                 50
age_end                   59
year_start              2011
year_end                2011
mean                 0.11756
standard_error      0.018651
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 54, dtype: object
location_id               561
sex                    Female
age_start                  25
age_end                    29
year_start               2012
year_end                 2012
mean               0.00397005
standard_error    0.000955301
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 55, dtype: object
location_id               561
sex                    Female
age_start                  25
age_end                    29
year_start               2012
year_end                 2012
mean               0.00397005
standard_error    0.000955301
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 55, dtype: object
location_id               561
sex                    Female
age_start                  25
age_end                    29
year_start               2012
year_end                 2012
mean               0.00397005
standard_error    0.000955301
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 55, dtype: object
location_id              571
sex                   Female
age_start                 20
age_end                   24
year_start              2012
year_end                2012
mean              0.00442157
standard_error    0.00189289
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 56, dtype: object
location_id              571
sex                   Female
age_start                 20
age_end                   24
year_start              2012
year_end                2012
mean              0.00442157
standard_error    0.00189289
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 56, dtype: object
location_id              571
sex                   Female
age_start                 20
age_end                   24
year_start              2012
year_end                2012
mean              0.00442157
standard_error    0.00189289
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 56, dtype: object
location_id              496
sex                   Female
age_start                 80
age_end                   84
year_start              2002
year_end                2002
mean                0.182697
standard_error     0.0218366
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 57, dtype: object
location_id              496
sex                   Female
age_start                 80
age_end                   84
year_start              2002
year_end                2002
mean                0.182697
standard_error     0.0218366
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 57, dtype: object
location_id              496
sex                   Female
age_start                 80
age_end                   84
year_start              2002
year_end                2002
mean                0.182697
standard_error     0.0218366
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 57, dtype: object
location_id              554
sex                   Female
age_start                 15
age_end                   19
year_start              2000
year_end                2000
mean              0.00184805
standard_error     0.0325114
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 58, dtype: object
location_id              554
sex                   Female
age_start                 15
age_end                   19
year_start              2000
year_end                2000
mean              0.00184805
standard_error     0.0325114
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 58, dtype: object
location_id              554
sex                   Female
age_start                 15
age_end                   19
year_start              2000
year_end                2000
mean              0.00184805
standard_error     0.0325114
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 58, dtype: object
location_id              154
sex                   Female
age_start                 70
age_end                   74
year_start              2010
year_end                2012
mean                0.104885
standard_error     0.0813004
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 59, dtype: object
location_id              154
sex                   Female
age_start                 70
age_end                   74
year_start              2010
year_end                2012
mean                0.104885
standard_error     0.0813004
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 59, dtype: object
location_id              154
sex                   Female
age_start                 70
age_end                   74
year_start              2010
year_end                2012
mean                0.104885
standard_error     0.0813004
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 59, dtype: object
location_id              154
sex                   Female
age_start                 70
age_end                   74
year_start              2010
year_end                2012
mean                0.104885
standard_error     0.0813004
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 59, dtype: object
location_id              154
sex                   Female
age_start                 70
age_end                   74
year_start              2010
year_end                2012
mean                0.104885
standard_error     0.0813004
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 59, dtype: object
location_id              154
sex                   Female
age_start                 70
age_end                   74
year_start              2010
year_end                2012
mean                0.104885
standard_error     0.0813004
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 59, dtype: object
location_id              154
sex                   Female
age_start                 70
age_end                   74
year_start              2010
year_end                2012
mean                0.104885
standard_error     0.0813004
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 59, dtype: object
location_id              154
sex                   Female
age_start                 70
age_end                   74
year_start              2010
year_end                2012
mean                0.104885
standard_error     0.0813004
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 59, dtype: object
location_id              154
sex                   Female
age_start                 70
age_end                   74
year_start              2010
year_end                2012
mean                0.104885
standard_error     0.0813004
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 59, dtype: object
location_id              531
sex                   Female
age_start                 20
age_end                   24
year_start              2014
year_end                2014
mean              0.00101061
standard_error     0.0130642
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 60, dtype: object
location_id              531
sex                   Female
age_start                 20
age_end                   24
year_start              2014
year_end                2014
mean              0.00101061
standard_error     0.0130642
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 60, dtype: object
location_id              531
sex                   Female
age_start                 20
age_end                   24
year_start              2014
year_end                2014
mean              0.00101061
standard_error     0.0130642
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 60, dtype: object
location_id              572
sex                     Male
age_start                 80
age_end                   84
year_start              2012
year_end                2012
mean                0.387383
standard_error      0.044956
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 61, dtype: object
location_id              572
sex                     Male
age_start                 80
age_end                   84
year_start              2012
year_end                2012
mean                0.387383
standard_error      0.044956
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 61, dtype: object
location_id              572
sex                     Male
age_start                 80
age_end                   84
year_start              2012
year_end                2012
mean                0.387383
standard_error      0.044956
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 61, dtype: object
location_id              550
sex                   Female
age_start                  1
age_end                    4
year_start              2012
year_end                2012
mean              0.00266133
standard_error     0.0032859
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 62, dtype: object
location_id              550
sex                   Female
age_start                  1
age_end                    4
year_start              2012
year_end                2012
mean              0.00266133
standard_error     0.0032859
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 62, dtype: object
location_id              550
sex                   Female
age_start                  1
age_end                    4
year_start              2012
year_end                2012
mean              0.00266133
standard_error     0.0032859
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 62, dtype: object
location_id              557
sex                   Female
age_start                 70
age_end                   74
year_start              2000
year_end                2000
mean                0.191618
standard_error      0.336534
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 63, dtype: object
location_id              557
sex                   Female
age_start                 70
age_end                   74
year_start              2000
year_end                2000
mean                0.191618
standard_error      0.336534
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 63, dtype: object
location_id              557
sex                   Female
age_start                 70
age_end                   74
year_start              2000
year_end                2000
mean                0.191618
standard_error      0.336534
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 63, dtype: object
location_id              573
sex                   Female
age_start                 10
age_end                   14
year_start              2012
year_end                2012
mean              0.00153654
standard_error    0.00429562
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 64, dtype: object
location_id              573
sex                   Female
age_start                 10
age_end                   14
year_start              2012
year_end                2012
mean              0.00153654
standard_error    0.00429562
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 64, dtype: object
location_id              573
sex                   Female
age_start                 10
age_end                   14
year_start              2012
year_end                2012
mean              0.00153654
standard_error    0.00429562
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 64, dtype: object
location_id             4749
sex                   Female
age_start                  0
age_end                    9
year_start              1996
year_end                1997
mean               0.0306998
standard_error     0.0221657
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 65, dtype: object
location_id             4749
sex                   Female
age_start                  0
age_end                    9
year_start              1996
year_end                1997
mean               0.0306998
standard_error     0.0221657
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 65, dtype: object
location_id             4749
sex                   Female
age_start                  0
age_end                    9
year_start              1996
year_end                1997
mean               0.0306998
standard_error     0.0221657
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 65, dtype: object
location_id             4749
sex                   Female
age_start                  0
age_end                    9
year_start              1996
year_end                1997
mean               0.0306998
standard_error     0.0221657
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 65, dtype: object
location_id             4749
sex                   Female
age_start                  0
age_end                    9
year_start              1996
year_end                1997
mean               0.0306998
standard_error     0.0221657
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 65, dtype: object
location_id             4749
sex                   Female
age_start                  0
age_end                    9
year_start              1996
year_end                1997
mean               0.0306998
standard_error     0.0221657
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 65, dtype: object
location_id              535
sex                   Female
age_start                 50
age_end                   54
year_start              2014
year_end                2014
mean               0.0358679
standard_error    0.00725893
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 66, dtype: object
location_id              535
sex                   Female
age_start                 50
age_end                   54
year_start              2014
year_end                2014
mean               0.0358679
standard_error    0.00725893
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 66, dtype: object
location_id              535
sex                   Female
age_start                 50
age_end                   54
year_start              2014
year_end                2014
mean               0.0358679
standard_error    0.00725893
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 66, dtype: object
location_id              546
sex                   Female
age_start                 70
age_end                   74
year_start              2012
year_end                2012
mean                0.252324
standard_error     0.0420937

location_id              568
sex                   Female
age_start                 70
age_end                   74
year_start              2014
year_end                2014
mean                0.309162
standard_error     0.0619586
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 95, dtype: object
location_id              568
sex                   Female
age_start                 70
age_end                   74
year_start              2014
year_end                2014
mean                0.309162
standard_error     0.0619586
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 95, dtype: object
location_id              556
sex                   Female
age_start                 50
age_end                   54
year_start              2013
year_end                2013
mean               0.0521448
standard_error    0.00885956
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 96, dtype: object
location_id              556
sex                   Female
age_start                 50
age_end                   54
year_start              2013
year_end                2013
mean               0.0521448
standard_error    0.00885956
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 96, dtype: object
location_id              556
sex                   Female
age_start                 50
age_end                   54
year_start              2013
year_end                2013
mean               0.0521448
standard_error    0.00885956
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 96, dtype: object
location_id              541
sex                     Male
age_start                  5
age_end                    9
year_start              2013
year_end                2013
mean               0.0040019
standard_error    0.00118886
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 97, dtype: object
location_id              541
sex                     Male
age_start                  5
age_end                    9
year_start              2013
year_end                2013
mean               0.0040019
standard_error    0.00118886
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 97, dtype: object
location_id              541
sex                     Male
age_start                  5
age_end                    9
year_start              2013
year_end                2013
mean               0.0040019
standard_error    0.00118886
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 97, dtype: object
location_id              564
sex                   Female
age_start                 65
age_end                   69
year_start              2010
year_end                2010
mean                0.211927
standard_error      0.058243
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 98, dtype: object
location_id              564
sex                   Female
age_start                 65
age_end                   69
year_start              2010
year_end                2010
mean                0.211927
standard_error      0.058243
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 98, dtype: object
location_id              564
sex                   Female
age_start                 65
age_end                   69
year_start              2010
year_end                2010
mean                0.211927
standard_error      0.058243
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 98, dtype: object
location_id              559
sex                   Female
age_start                 55
age_end                   59
year_start              2011
year_end                2011
mean                0.113643
standard_error     0.0182629
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 99, dtype: object
location_id              559
sex                   Female
age_start                 55
age_end                   59
year_start              2011
year_end                2011
mean                0.113643
standard_error     0.0182629
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 99, dtype: object
location_id              559
sex                   Female
age_start                 55
age_end                   59
year_start              2011
year_end                2011
mean                0.113643
standard_error     0.0182629
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 99, dtype: object
location_id              556
sex                     Male
age_start                 85
age_end                   89
year_start              2014
year_end                2014
mean                0.437894
standard_error       0.04674
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 100, dtype: object
location_id              556
sex                     Male
age_start                 85
age_end                   89
year_start              2014
year_end                2014
mean                0.437894
standard_error       0.04674
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 100, dtype: object
location_id              556
sex                     Male
age_start                 85
age_end                   89
year_start              2014
year_end                2014
mean                0.437894
standard_error       0.04674
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 100, dtype: object
location_id             4749
sex                     Male
age_start                 60
age_end                   69
year_start              2010
year_end                2010
mean                0.345294
standard_error      0.103574
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 101, dtype: object
location_id             4749
sex                     Male
age_start                 60
age_end                   69
year_start              2010
year_end                2010
mean                0.345294
standard_error      0.103574
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 101, dtype: object
location_id             4749
sex                     Male
age_start                 60
age_end                   69
year_start              2010
year_end                2010
mean                0.345294
standard_error      0.103574
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 101, dtype: object
location_id               570
sex                    Female
age_start                   1
age_end                     4
year_start               2013
year_end                 2013
mean               0.00056746
standard_error    0.000733706
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 102, dtype: object
location_id               570
sex                    Female
age_start                   1
age_end                     4
year_start               2013
year_end                 2013
mean               0.00056746
standard_error    0.000733706
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 102, dtype: object
location_id               570
sex                    Female
age_start                   1
age_end                     4
year_start               2013
year_end                 2013
mean               0.00056746
standard_error    0.000733706
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 102, dtype: object
location_id               567
sex                      Male
age_start                  15
age_end                    19
year_start               2011
year_end                 2011
mean              0.000811374
standard_error    0.000930026
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 103, dtype: object
location_id               567
sex                      Male
age_start                  15
age_end                    19
year_start               2011
year_end                 2011
mean              0.000811374
standard_error    0.000930026
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 103, dtype: object
location_id               567
sex                      Male
age_start                  15
age_end                    19
year_start               2011
year_end                 2011
mean              0.000811374
standard_error    0.000930026
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 103, dtype: object
location_id               71
sex                   Female
age_start                 90
age_end                   94
year_start              2005
year_end                2006
mean                0.486297
standard_error       0.32249
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 104, dtype: object
location_id               71
sex                   Female
age_start                 90
age_end                   94
year_start              2005
year_end                2006
mean                0.486297
standard_error       0.32249
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 104, dtype: object
location_id               71
sex                   Female
age_start                 90
age_end                   94
year_start              2005
year_end                2006
mean                0.486297
standard_error       0.32249
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 104, dtype: object
location_id               71
sex                   Female
age_start                 90
age_end                   94
year_start              2005
year_end                2006
mean                0.486297
standard_error       0.32249
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 104, dtype: object
location_id               71
sex                   Female
age_start                 90
age_end                   94
year_start              2005
year_end                2006
mean                0.486297
standard_error       0.32249
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 104, dtype: object
location_id               71
sex                   Female
age_start                 90
age_end                   94
year_start              2005
year_end                2006
mean                0.486297
standard_error       0.32249
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 104, dtype: object
location_id               523
sex                    Female
age_start                  15
age_end                    19
year_start               2011
year_end                 2011
mean               0.00112895
standard_error    0.000842055
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 105, dtype: object
location_id               523
sex                    Female
age_start                  15
age_end                    19
year_start               2011
year_end                 2011
mean               0.00112895
standard_error    0.000842055
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 105, dtype: object
location_id               523
sex                    Female
age_start                  15
age_end                    19
year_start               2011
year_end                 2011
mean               0.00112895
standard_error    0.000842055
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 105, dtype: object
location_id              547
sex                     Male
age_start                 75
age_end                   79
year_start              2012
year_end                2012
mean                0.411487
standard_error      0.050005
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 106, dtype: object
location_id              547
sex                     Male
age_start                 75
age_end                   79
year_start              2012
year_end                2012
mean                0.411487
standard_error      0.050005
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 106, dtype: object
location_id              547
sex                     Male
age_start                 75
age_end                   79
year_start              2012
year_end                2012
mean                0.411487
standard_error      0.050005
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 106, dtype: object
location_id              559
sex                   Female
age_start                 35
age_end                   39
year_start              2011
year_end                2011
mean               0.0167725
standard_error    0.00377986
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 107, dtype: object
location_id              559
sex                   Female
age_start                 35
age_end                   39
year_start              2011
year_end                2011
mean               0.0167725
standard_error    0.00377986
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 107, dtype: object
location_id              559
sex                   Female
age_start                 35
age_end                   39
year_start              2011
year_end                2011
mean               0.0167725
standard_error    0.00377986
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 107, dtype: object
location_id              531
sex                   Female
age_start                 95
age_end                   99
year_start              2010
year_end                2010
mean                0.201126
standard_error      0.122392
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 108, dtype: object
location_id              531
sex                   Female
age_start                 95
age_end                   99
year_start              2010
year_end                2010
mean                0.201126
standard_error      0.122392
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 108, dtype: object
location_id              531
sex                   Female
age_start                 95
age_end                   99
year_start              2010
year_end                2010
mean                0.201126
standard_error      0.122392
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 108, dtype: object
location_id              542
sex                   Female
age_start                 15
age_end                   19
year_start              2012
year_end                2012
mean              0.00146598
standard_error    0.00148456
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 109, dtype: object
location_id              542
sex                   Female
age_start                 15
age_end                   19
year_start              2012
year_end                2012
mean              0.00146598
standard_error    0.00148456
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 109, dtype: object
location_id              542
sex                   Female
age_start                 15
age_end                   19
year_start              2012
year_end                2012
mean              0.00146598
standard_error    0.00148456
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 109, dtype: object
location_id              517
sex                     Male
age_start                 70
age_end                   74
year_start              2002
year_end                2004
mean                 0.23454
standard_error     0.0193957
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 110, dtype: object
location_id              517
sex                     Male
age_start                 70
age_end                   74
year_start              2002
year_end                2004
mean                 0.23454
standard_error     0.0193957
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 110, dtype: object
location_id              517
sex                     Male
age_start                 70
age_end                   74
year_start              2002
year_end                2004
mean                 0.23454
standard_error     0.0193957
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 110, dtype: object
location_id              517
sex                     Male
age_start                 70
age_end                   74
year_start              2002
year_end                2004
mean                 0.23454
standard_error     0.0193957
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 110, dtype: object
location_id              517
sex                     Male
age_start                 70
age_end                   74
year_start              2002
year_end                2004
mean                 0.23454
standard_error     0.0193957
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 110, dtype: object
location_id              517
sex                     Male
age_start                 70
age_end                   74
year_start              2002
year_end                2004
mean                 0.23454
standard_error     0.0193957
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 110, dtype: object
location_id              517
sex                     Male
age_start                 70
age_end                   74

location_id              531
sex                   Female
age_start                 85
age_end                   89
year_start              2011
year_end                2011
mean                 0.23687
standard_error      0.117368
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 148, dtype: object
location_id              531
sex                   Female
age_start                 85
age_end                   89
year_start              2011
year_end                2011
mean                 0.23687
standard_error      0.117368
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 148, dtype: object
location_id              531
sex                   Female
age_start                 85
age_end                   89
year_start              2011
year_end                2011
mean                 0.23687
standard_error      0.117368
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 148, dtype: object
location_id              570
sex                     Male
age_start                 80
age_end                   84
year_start              2000
year_end                2000
mean                0.287547
standard_error     0.0776286
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 149, dtype: object
location_id              570
sex                     Male
age_start                 80
age_end                   84
year_start              2000
year_end                2000
mean                0.287547
standard_error     0.0776286
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 149, dtype: object
location_id              570
sex                     Male
age_start                 80
age_end                   84
year_start              2000
year_end                2000
mean                0.287547
standard_error     0.0776286
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 149, dtype: object
location_id              552
sex                   Female
age_start                  5
age_end                    9
year_start              2011
year_end                2011
mean              0.00157011
standard_error    0.00186295
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 150, dtype: object
location_id              552
sex                   Female
age_start                  5
age_end                    9
year_start              2011
year_end                2011
mean              0.00157011
standard_error    0.00186295
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 150, dtype: object
location_id              552
sex                   Female
age_start                  5
age_end                    9
year_start              2011
year_end                2011
mean              0.00157011
standard_error    0.00186295
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 150, dtype: object
location_id               81
sex                     Male
age_start                 95
age_end                   99
year_start              2002
year_end                2002
mean               0.0517318
standard_error      0.955088
measure           Sincidence
ldi                        0
elevation                  0
sev                        0
Name: 151, dtype: object
location_id               81
sex                     Male
age_start                 95
age_end                   99
year_start              2002
year_end                2002
mean               0.0517318
standard_error      0.955088
measure           Sincidence
ldi                        0
elevation                  0
sev                        0
Name: 151, dtype: object
location_id               81
sex                     Male
age_start                 95
age_end                   99
year_start              2002
year_end                2002
mean               0.0517318
standard_error      0.955088
measure           Sincidence
ldi                        0
elevation                  0
sev                        0
Name: 151, dtype: object
location_id              523
sex                   Female
age_start                 20
age_end                   24
year_start              2014
year_end                2014
mean              0.00301568
standard_error    0.00137797
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 152, dtype: object
location_id              523
sex                   Female
age_start                 20
age_end                   24
year_start              2014
year_end                2014
mean              0.00301568
standard_error    0.00137797
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 152, dtype: object
location_id              523
sex                   Female
age_start                 20
age_end                   24
year_start              2014
year_end                2014
mean              0.00301568
standard_error    0.00137797
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 152, dtype: object
location_id             4749
sex                   Female
age_start                 20
age_end                   29
year_start              2002
year_end                2003
mean               0.0134811
standard_error     0.0148079
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 153, dtype: object
location_id             4749
sex                   Female
age_start                 20
age_end                   29
year_start              2002
year_end                2003
mean               0.0134811
standard_error     0.0148079
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 153, dtype: object
location_id             4749
sex                   Female
age_start                 20
age_end                   29
year_start              2002
year_end                2003
mean               0.0134811
standard_error     0.0148079
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 153, dtype: object
location_id             4749
sex                   Female
age_start                 20
age_end                   29
year_start              2002
year_end                2003
mean               0.0134811
standard_error     0.0148079
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 153, dtype: object
location_id             4749
sex                   Female
age_start                 20
age_end                   29
year_start              2002
year_end                2003
mean               0.0134811
standard_error     0.0148079
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 153, dtype: object
location_id             4749
sex                   Female
age_start                 20
age_end                   29
year_start              2002
year_end                2003
mean               0.0134811
standard_error     0.0148079
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 153, dtype: object
location_id               90
sex                   Female
age_start                 70
age_end                   74
year_start              2003
year_end                2005
mean                0.223526
standard_error     0.0278586
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 154, dtype: object
location_id               90
sex                   Female
age_start                 70
age_end                   74
year_start              2003
year_end                2005
mean                0.223526
standard_error     0.0278586
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 154, dtype: object
location_id               90
sex                   Female
age_start                 70
age_end                   74
year_start              2003
year_end                2005
mean                0.223526
standard_error     0.0278586
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 154, dtype: object
location_id               90
sex                   Female
age_start                 70
age_end                   74
year_start              2003
year_end                2005
mean                0.223526
standard_error     0.0278586
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 154, dtype: object
location_id               90
sex                   Female
age_start                 70
age_end                   74
year_start              2003
year_end                2005
mean                0.223526
standard_error     0.0278586
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 154, dtype: object
location_id               90
sex                   Female
age_start                 70
age_end                   74
year_start              2003
year_end                2005
mean                0.223526
standard_error     0.0278586
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 154, dtype: object
location_id               90
sex                   Female
age_start                 70
age_end                   74
year_start              2003
year_end                2005
mean                0.223526
standard_error     0.0278586
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 154, dtype: object
location_id               90
sex                   Female
age_start                 70
age_end                   74
year_start              2003
year_end                2005
mean                0.223526
standard_error     0.0278586
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 154, dtype: object
location_id               90
sex                   Female
age_start                 70
age_end                   74
year_start              2003
year_end                2005
mean                0.223526
standard_error     0.0278586
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 154, dtype: object
location_id              546
sex                   Female
age_start                 40
age_end                   44
year_start              2013
year_end                2013
mean              0.00461085
standard_error    0.00174692
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 155, dtype: object
location_id              546
sex                   Female
age_start                 40
age_end                   44
year_start              2013
year_end                2013
mean              0.00461085
standard_error    0.00174692
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 155, dtype: object
location_id              546
sex                   Female
age_start                 40
age_end                   44
year_start              2013
year_end                2013
mean              0.00461085
standard_error    0.00174692
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 155, dtype: object
location_id              542
sex                     Male
age_start                 50
age_end                   54
year_start              2012
year_end                2012
mean               0.0576686
standard_error     0.0111168
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 156, dtype: object
location_id              542
sex                     Male
age_start                 50
age_end                   54
year_start              2012
year_end                2012
mean               0.0576686
standard_error     0.0111168
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 156, dtype: object
location_id              542
sex                     Male
age_start                 50
age_end                   54
year_start              2012
year_end                2012
mean               0.0576686
standard_error     0.0111168
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 156, dtype: object
location_id               546
sex                    Female
age_start                  10
age_end                    14
year_start               2011
year_end                 2011
mean              0.000577226
standard_error    0.000725875
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 157, dtype: object
location_id               546
sex                    Female
age_start                  10
age_end                    14
year_start               2011
year_end                 2011
mean              0.000577226
standard_error    0.000725875
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 157, dtype: object
location_id               546
sex                    Female
age_start                  10
age_end                    14
year_start               2011
year_end                 2011
mean              0.000577226
standard_error    0.000725875
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 157, dtype: object
location_id              565
sex                     Male
age_start                  5
age_end                    9
year_start              2010
year_end                2010
mean               0.0029405
standard_error    0.00106993
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 158, dtype: object
location_id              565
sex                     Male
age_start                  5
age_end                    9
year_start              2010
year_end                2010
mean               0.0029405
standard_error    0.00106993
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 158, dtype: object
location_id              565
sex                     Male
age_start                  5
age_end                    9
year_start              2010
year_end                2010
mean               0.0029405
standard_error    0.00106993
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 158, dtype: object
location_id               565
sex                    Female
age_start                   5
age_end                     9
year_start               2010
year_end                 2010
mean               0.00141462
standard_error    0.000742875
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 159, dtype: object
location_id               565
sex                    Female
age_start                   5
age_end                     9
year_start               2010
year_end                 2010
mean               0.00141462
standard_error    0.000742875
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 159, dtype: object
location_id               565
sex                    Female
age_start                   5
age_end                     9
year_start               2010
year_end                 2010
mean               0.00141462
standard_error    0.000742875
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 159, dtype: object
location_id              539
sex                   Female
age_start                 30
age_end                   34
year_start              2014
year_end                2014
mean              0.00270371
standard_error    0.00213734
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 160, dtype: object
location_id              539
sex                   Female
age_start                 30
age_end                   34
year_start              2014
year_end                2014
mean              0.00270371
standard_error    0.00213734
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 160, dtype: object
location_id              539
sex                   Female
age_start                 30
age_end                   34
year_start              2014
year_end                2014
mean              0.00270371
standard_error    0.00213734
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 160, dtype: object
location_id              544
sex                     Male
age_start                 60
age_end                   64
year_start              2000
year_end                2000
mean                0.167542
standard_error     0.0264743
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 161, dtype: object
location_id              544
sex                     Male
age_start                 60
age_end                   64
year_start              2000
year_end                2000
mean                0.167542
standard_error     0.0264743
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 161, dtype: object
location_id              544
sex                     Male
age_start                 60
age_end                   64
year_start              2000
year_end                2000
mean                0.167542
standard_error     0.0264743
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 161, dtype: object
location_id              524
sex                   Female
age_start                 55
age_end                   59
year_start              2000
year_end                2000
mean               0.0408887
standard_error      0.170699
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 162, dtype: object
location_id              524
sex                   Female
age_start                 55
age_end                   59
year_start              2000
year_end                2000
mean               0.0408887
standard_error      0.170699
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 162, dtype: object
location_id              524
sex                   Female
age_start                 55
age_end                   59
year_start              2000

location_id               90
sex                   Female
age_start                 60
age_end                   69
year_start              2001
year_end                2002
mean                0.113554
standard_error     0.0289497
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 196, dtype: object
location_id               90
sex                   Female
age_start                 60
age_end                   69
year_start              2001
year_end                2002
mean                0.113554
standard_error     0.0289497
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 196, dtype: object
location_id               532
sex                    Female
age_start                  20
age_end                    24
year_start               2012
year_end                 2012
mean               0.00341422
standard_error    0.000903878
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 197, dtype: object
location_id               532
sex                    Female
age_start                  20
age_end                    24
year_start               2012
year_end                 2012
mean               0.00341422
standard_error    0.000903878
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 197, dtype: object
location_id               532
sex                    Female
age_start                  20
age_end                    24
year_start               2012
year_end                 2012
mean               0.00341422
standard_error    0.000903878
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 197, dtype: object
location_id              533
sex                   Female
age_start                 50
age_end                   54
year_start              2012
year_end                2012
mean               0.0638586
standard_error     0.0106253
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 198, dtype: object
location_id              533
sex                   Female
age_start                 50
age_end                   54
year_start              2012
year_end                2012
mean               0.0638586
standard_error     0.0106253
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 198, dtype: object
location_id              533
sex                   Female
age_start                 50
age_end                   54
year_start              2012
year_end                2012
mean               0.0638586
standard_error     0.0106253
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 198, dtype: object
location_id              559
sex                   Female
age_start                 45
age_end                   49
year_start              2011
year_end                2011
mean               0.0546169
standard_error    0.00976252
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 199, dtype: object
location_id              559
sex                   Female
age_start                 45
age_end                   49
year_start              2011
year_end                2011
mean               0.0546169
standard_error    0.00976252
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 199, dtype: object
location_id              559
sex                   Female
age_start                 45
age_end                   49
year_start              2011
year_end                2011
mean               0.0546169
standard_error    0.00976252
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 199, dtype: object
location_id              540
sex                   Female
age_start                 35
age_end                   39
year_start              2013
year_end                2013
mean               0.0162575
standard_error    0.00327393
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 200, dtype: object
location_id              540
sex                   Female
age_start                 35
age_end                   39
year_start              2013
year_end                2013
mean               0.0162575
standard_error    0.00327393
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 200, dtype: object
location_id              540
sex                   Female
age_start                 35
age_end                   39
year_start              2013
year_end                2013
mean               0.0162575
standard_error    0.00327393
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 200, dtype: object
location_id               559
sex                    Female
age_start                  10
age_end                    14
year_start               2012
year_end                 2012
mean              0.000858067
standard_error    0.000647171
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 201, dtype: object
location_id               559
sex                    Female
age_start                  10
age_end                    14
year_start               2012
year_end                 2012
mean              0.000858067
standard_error    0.000647171
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 201, dtype: object
location_id               559
sex                    Female
age_start                  10
age_end                    14
year_start               2012
year_end                 2012
mean              0.000858067
standard_error    0.000647171
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 201, dtype: object
location_id              542
sex                   Female
age_start                 20
age_end                   24
year_start              2014
year_end                2014
mean              0.00195559
standard_error    0.00168372
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 202, dtype: object
location_id              542
sex                   Female
age_start                 20
age_end                   24
year_start              2014
year_end                2014
mean              0.00195559
standard_error    0.00168372
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 202, dtype: object
location_id              542
sex                   Female
age_start                 20
age_end                   24
year_start              2014
year_end                2014
mean              0.00195559
standard_error    0.00168372
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 202, dtype: object
location_id              563
sex                     Male
age_start                 25
age_end                   29
year_start              2000
year_end                2000
mean              0.00335783
standard_error     0.0123527
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 203, dtype: object
location_id              563
sex                     Male
age_start                 25
age_end                   29
year_start              2000
year_end                2000
mean              0.00335783
standard_error     0.0123527
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 203, dtype: object
location_id              563
sex                     Male
age_start                 25
age_end                   29
year_start              2000
year_end                2000
mean              0.00335783
standard_error     0.0123527
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 203, dtype: object
location_id              547
sex                   Female
age_start                 85
age_end                   89
year_start              2013
year_end                2013
mean                0.389137
standard_error     0.0536596
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 204, dtype: object
location_id              547
sex                   Female
age_start                 85
age_end                   89
year_start              2013
year_end                2013
mean                0.389137
standard_error     0.0536596
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 204, dtype: object
location_id              547
sex                   Female
age_start                 85
age_end                   89
year_start              2013
year_end                2013
mean                0.389137
standard_error     0.0536596
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 204, dtype: object
location_id               90
sex                   Female
age_start                 50
age_end                   64
year_start              1996
year_end                1997
mean               0.0532344
standard_error    0.00327439
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 205, dtype: object
location_id               90
sex                   Female
age_start                 50
age_end                   64
year_start              1996
year_end                1997
mean               0.0532344
standard_error    0.00327439
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 205, dtype: object
location_id               90
sex                   Female
age_start                 50
age_end                   64
year_start              1996
year_end                1997
mean               0.0532344
standard_error    0.00327439
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 205, dtype: object
location_id               90
sex                   Female
age_start                 50
age_end                   64
year_start              1996
year_end                1997
mean               0.0532344
standard_error    0.00327439
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 205, dtype: object
location_id               90
sex                   Female
age_start                 50
age_end                   64
year_start              1996
year_end                1997
mean               0.0532344
standard_error    0.00327439
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 205, dtype: object
location_id               90
sex                   Female
age_start                 50
age_end                   64
year_start              1996
year_end                1997
mean               0.0532344
standard_error    0.00327439
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 205, dtype: object
location_id              559
sex                     Male
age_start                 80
age_end                   84
year_start              2010
year_end                2010
mean                 0.48844
standard_error      0.045691
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 206, dtype: object
location_id              559
sex                     Male
age_start                 80
age_end                   84
year_start              2010
year_end                2010
mean                 0.48844
standard_error      0.045691
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 206, dtype: object
location_id              559
sex                     Male
age_start                 80
age_end                   84
year_start              2010
year_end                2010
mean                 0.48844
standard_error      0.045691
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 206, dtype: object
location_id              546
sex                     Male
age_start                 15
age_end                   19
year_start              2014
year_end                2014
mean              0.00133259
standard_error    0.00114621
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 207, dtype: object
location_id              546
sex                     Male
age_start                 15
age_end                   19
year_start              2014
year_end                2014
mean              0.00133259
standard_error    0.00114621
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 207, dtype: object
location_id              546
sex                     Male
age_start                 15
age_end                   19
year_start              2014
year_end                2014
mean              0.00133259
standard_error    0.00114621
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 207, dtype: object
location_id              538
sex                     Male
age_start                 60
age_end                   64
year_start              2013
year_end                2013
mean                0.149322
standard_error     0.0244353
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 208, dtype: object
location_id              538
sex                     Male
age_start                 60
age_end                   64
year_start              2013
year_end                2013
mean                0.149322
standard_error     0.0244353
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 208, dtype: object
location_id              538
sex                     Male
age_start                 60
age_end                   64
year_start              2013
year_end                2013
mean                0.149322
standard_error     0.0244353
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 208, dtype: object
location_id              569
sex                     Male
age_start                 95
age_end                   99
year_start              2012
year_end                2012
mean                0.434248
standard_error     0.0691688
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 209, dtype: object
location_id              569
sex                     Male
age_start                 95
age_end                   99
year_start              2012
year_end                2012
mean                0.434248
standard_error     0.0691688
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 209, dtype: object
location_id              569
sex                     Male
age_start                 95
age_end                   99
year_start              2012
year_end                2012
mean                0.434248
standard_error     0.0691688
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 209, dtype: object
location_id              534
sex                     Male
age_start                  5
age_end                    9
year_start              2011
year_end                2011
mean              0.00166213
standard_error     0.0558728
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 210, dtype: object
location_id              534
sex                     Male
age_start                  5
age_end                    9
year_start              2011
year_end                2011
mean              0.00166213
standard_error     0.0558728
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 210, dtype: object
location_id              534
sex                     Male
age_start                  5
age_end                    9
year_start              2011
year_end                2011
mean              0.00166213
standard_error     0.0558728
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 210, dtype: object
location_id             4657
sex                     Male
age_start                 60
age_end                   64
year_start              2003
year_end                2003
mean                0.170056
standard_error     0.0778545
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 211, dtype: object
location_id             4657
sex                     Male
age_start                 60
age_end                   64
year_start              2003
year_end                2003
mean                0.170056
standard_error     0.0778545
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 211, dtype: object
location_id             4657
sex                     Male
age_start                 60
age_end                   64
year_start              2003
year_end                2003
mean                0.170056
standard_error     0.0778545
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 211, dtype: object
location_id              569
sex                     Male
age_start                 55
age_end                   59
year_start              2000
year_end                2000
mean               0.0995159
standard_error     0.0231752
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 212, dtype: object
location_id              569
sex                     Male
age_start                 55
age_end                   59
year_start              2000
year_end                2000
mean               0.0995159
standard_error     0.0231752
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 212, dtype: object
location_id              569
sex                     Male
age_start                 55
age_end                   59
year_start              2000
year_end                2000
mean               0.0995159
standard_error     0.0231752
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 212, dtype: object
location_id              525
sex                   Female
age_start                 45
age_end                   49
year_start              2013

location_id               68
sex                   Female
age_start                 45
age_end                   49
year_start              2008
year_end                2008
mean               0.0275788
standard_error     0.0140703
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 295, dtype: object
location_id               68
sex                   Female
age_start                 45
age_end                   49
year_start              2008
year_end                2008
mean               0.0275788
standard_error     0.0140703
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 295, dtype: object
location_id             4749
sex                     Male
age_start                 40
age_end                   49
year_start              1995
year_end                1996
mean               0.0690393
standard_error     0.0370274
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 296, dtype: object
location_id             4749
sex                     Male
age_start                 40
age_end                   49
year_start              1995
year_end                1996
mean               0.0690393
standard_error     0.0370274
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 296, dtype: object
location_id             4749
sex                     Male
age_start                 40
age_end                   49
year_start              1995
year_end                1996
mean               0.0690393
standard_error     0.0370274
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 296, dtype: object
location_id             4749
sex                     Male
age_start                 40
age_end                   49
year_start              1995
year_end                1996
mean               0.0690393
standard_error     0.0370274
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 296, dtype: object
location_id             4749
sex                     Male
age_start                 40
age_end                   49
year_start              1995
year_end                1996
mean               0.0690393
standard_error     0.0370274
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 296, dtype: object
location_id             4749
sex                     Male
age_start                 40
age_end                   49
year_start              1995
year_end                1996
mean               0.0690393
standard_error     0.0370274
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 296, dtype: object
location_id               548
sex                    Female
age_start                   5
age_end                     9
year_start               2014
year_end                 2014
mean              0.000882235
standard_error    0.000679332
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 297, dtype: object
location_id               548
sex                    Female
age_start                   5
age_end                     9
year_start               2014
year_end                 2014
mean              0.000882235
standard_error    0.000679332
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 297, dtype: object
location_id               548
sex                    Female
age_start                   5
age_end                     9
year_start               2014
year_end                 2014
mean              0.000882235
standard_error    0.000679332
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 297, dtype: object
location_id               79
sex                     Male
age_start                 85
age_end                   89
year_start              1978
year_end                1980
mean                0.280494
standard_error       0.13666
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 298, dtype: object
location_id               79
sex                     Male
age_start                 85
age_end                   89
year_start              1978
year_end                1980
mean                0.280494
standard_error       0.13666
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 298, dtype: object
location_id               79
sex                     Male
age_start                 85
age_end                   89
year_start              1978
year_end                1980
mean                0.280494
standard_error       0.13666
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 298, dtype: object
location_id               79
sex                     Male
age_start                 85
age_end                   89
year_start              1978
year_end                1980
mean                0.280494
standard_error       0.13666
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 298, dtype: object
location_id               79
sex                     Male
age_start                 85
age_end                   89
year_start              1978
year_end                1980
mean                0.280494
standard_error       0.13666
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 298, dtype: object
location_id               68
sex                     Male
age_start                 40
age_end                   44
year_start              2008
year_end                2008
mean               0.0306502
standard_error     0.0491234
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 299, dtype: object
location_id               68
sex                     Male
age_start                 40
age_end                   44
year_start              2008
year_end                2008
mean               0.0306502
standard_error     0.0491234
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 299, dtype: object
location_id               68
sex                     Male
age_start                 40
age_end                   44
year_start              2008
year_end                2008
mean               0.0306502
standard_error     0.0491234
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 299, dtype: object
location_id               565
sex                    Female
age_start                  15
age_end                    19
year_start               2013
year_end                 2013
mean              0.000996798
standard_error     0.00054301
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 300, dtype: object
location_id               565
sex                    Female
age_start                  15
age_end                    19
year_start               2013
year_end                 2013
mean              0.000996798
standard_error     0.00054301
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 300, dtype: object
location_id               565
sex                    Female
age_start                  15
age_end                    19
year_start               2013
year_end                 2013
mean              0.000996798
standard_error     0.00054301
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 300, dtype: object
location_id              546
sex                     Male
age_start                 70
age_end                   74
year_start              2011
year_end                2011
mean                0.245166
standard_error     0.0403545
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 301, dtype: object
location_id              546
sex                     Male
age_start                 70
age_end                   74
year_start              2011
year_end                2011
mean                0.245166
standard_error     0.0403545
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 301, dtype: object
location_id              546
sex                     Male
age_start                 70
age_end                   74
year_start              2011
year_end                2011
mean                0.245166
standard_error     0.0403545
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 301, dtype: object
location_id            53553
sex                   Female
age_start                 75
age_end                   79
year_start              2010
year_end                2010
mean                0.491475
standard_error     0.0455924
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 302, dtype: object
location_id            53553
sex                   Female
age_start                 75
age_end                   79
year_start              2010
year_end                2010
mean                0.491475
standard_error     0.0455924
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 302, dtype: object
location_id            53553
sex                   Female
age_start                 75
age_end                   79
year_start              2010
year_end                2010
mean                0.491475
standard_error     0.0455924
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 302, dtype: object
location_id             4940
sex                     Male
age_start                 46
age_end                   47
year_start              1996
year_end                1997
mean                   0.062
standard_error     0.0147751
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 303, dtype: object
location_id             4940
sex                     Male
age_start                 46
age_end                   47
year_start              1996
year_end                1997
mean                   0.062
standard_error     0.0147751
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 303, dtype: object
location_id             4940
sex                     Male
age_start                 46
age_end                   47
year_start              1996
year_end                1997
mean                   0.062
standard_error     0.0147751
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 303, dtype: object
location_id             4940
sex                     Male
age_start                 46
age_end                   47
year_start              1996
year_end                1997
mean                   0.062
standard_error     0.0147751
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 303, dtype: object
location_id             4940
sex                     Male
age_start                 46
age_end                   47
year_start              1996
year_end                1997
mean                   0.062
standard_error     0.0147751
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 303, dtype: object
location_id             4940
sex                     Male
age_start                 46
age_end                   47
year_start              1996
year_end                1997
mean                   0.062
standard_error     0.0147751
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 303, dtype: object
location_id              155
sex                   Female
age_start                 75
age_end                   79
year_start              2005
year_end                2005
mean                0.219302
standard_error     0.0215414
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 304, dtype: object
location_id              155
sex                   Female
age_start                 75
age_end                   79
year_start              2005
year_end                2005
mean                0.219302
standard_error     0.0215414
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 304, dtype: object
location_id              155
sex                   Female
age_start                 75
age_end                   79
year_start              2005
year_end                2005
mean                0.219302
standard_error     0.0215414
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 304, dtype: object
location_id               529
sex                    Female
age_start                  10
age_end                    14
year_start               2013
year_end                 2013
mean              0.000889947
standard_error    0.000593084
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 305, dtype: object
location_id               529
sex                    Female
age_start                  10
age_end                    14
year_start               2013
year_end                 2013
mean              0.000889947
standard_error    0.000593084
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 305, dtype: object
location_id               529
sex                    Female
age_start                  10
age_end                    14
year_start               2013
year_end                 2013
mean              0.000889947
standard_error    0.000593084
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 305, dtype: object
location_id              544
sex                     Male
age_start                 15
age_end                   19
year_start              2011
year_end                2011
mean              0.00257998
standard_error    0.00108529
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 306, dtype: object
location_id              544
sex                     Male
age_start                 15
age_end                   19
year_start              2011
year_end                2011
mean              0.00257998
standard_error    0.00108529
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 306, dtype: object
location_id              544
sex                     Male
age_start                 15
age_end                   19
year_start              2011
year_end                2011
mean              0.00257998
standard_error    0.00108529
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 306, dtype: object
location_id              196
sex                     Male
age_start                 60
age_end                   69
year_start              2007
year_end                2008
mean                0.188808
standard_error       0.05069
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 307, dtype: object
location_id              196
sex                     Male
age_start                 60
age_end                   69
year_start              2007
year_end                2008
mean                0.188808
standard_error       0.05069
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 307, dtype: object
location_id              196
sex                     Male
age_start                 60
age_end                   69
year_start              2007
year_end                2008
mean                0.188808
standard_error       0.05069
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 307, dtype: object
location_id              196
sex                     Male
age_start                 60
age_end                   69
year_start              2007
year_end                2008
mean                0.188808
standard_error       0.05069
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 307, dtype: object
location_id              196
sex                     Male
age_start                 60
age_end                   69
year_start              2007
year_end                2008
mean                0.188808
standard_error       0.05069
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 307, dtype: object
location_id              196
sex                     Male
age_start                 60
age_end                   69
year_start              2007
year_end                2008
mean                0.188808
standard_error       0.05069
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 307, dtype: object
location_id                6
sex                     Male
age_start                 85
age_end                   89
year_start              2003
year_end                2003
mean                0.311815
standard_error     0.0932807
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 308, dtype: object
location_id                6
sex                     Male
age_start                 85
age_end                   89
year_start              2003
year_end                2003
mean                0.311815
standard_error     0.0932807
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 308, dtype: object
location_id                6
sex                     Male
age_start                 85
age_end                   89
year_start              2003
year_end                2003
mean                0.311815
standard_error     0.0932807
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 308, dtype: object
location_id              530
sex                     Male
age_start                 45
age_end                   49
year_start              2011
year_end                2011
mean               0.0277893
standard_error    0.00733187
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 309, dtype: object
location_id              530
sex                     Male
age_start                 45
age_end                   49

location_id              547
sex                     Male
age_start                 65
age_end                   69
year_start              2012
year_end                2012
mean                0.264686
standard_error     0.0393312
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 339, dtype: object
location_id              547
sex                     Male
age_start                 65
age_end                   69
year_start              2012
year_end                2012
mean                0.264686
standard_error     0.0393312
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 339, dtype: object
location_id              547
sex                     Male
age_start                 65
age_end                   69
year_start              2012
year_end                2012
mean                0.264686
standard_error     0.0393312
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 339, dtype: object
location_id               99
sex                     Male
age_start                 55
age_end                   59
year_start              2003
year_end                2003
mean                0.218296
standard_error     0.0630192
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 340, dtype: object
location_id               99
sex                     Male
age_start                 55
age_end                   59
year_start              2003
year_end                2003
mean                0.218296
standard_error     0.0630192
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 340, dtype: object
location_id               99
sex                     Male
age_start                 55
age_end                   59
year_start              2003
year_end                2003
mean                0.218296
standard_error     0.0630192
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 340, dtype: object
location_id              568
sex                   Female
age_start                 40
age_end                   44
year_start              2010
year_end                2010
mean               0.0108627
standard_error    0.00885623
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 341, dtype: object
location_id              568
sex                   Female
age_start                 40
age_end                   44
year_start              2010
year_end                2010
mean               0.0108627
standard_error    0.00885623
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 341, dtype: object
location_id              568
sex                   Female
age_start                 40
age_end                   44
year_start              2010
year_end                2010
mean               0.0108627
standard_error    0.00885623
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 341, dtype: object
location_id              566
sex                     Male
age_start                 60
age_end                   64
year_start              2012
year_end                2012
mean                0.132096
standard_error     0.0201556
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 342, dtype: object
location_id              566
sex                     Male
age_start                 60
age_end                   64
year_start              2012
year_end                2012
mean                0.132096
standard_error     0.0201556
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 342, dtype: object
location_id              566
sex                     Male
age_start                 60
age_end                   64
year_start              2012
year_end                2012
mean                0.132096
standard_error     0.0201556
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 342, dtype: object
location_id              555
sex                     Male
age_start                 85
age_end                   89
year_start              2014
year_end                2014
mean                0.481398
standard_error     0.0441285
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 343, dtype: object
location_id              555
sex                     Male
age_start                 85
age_end                   89
year_start              2014
year_end                2014
mean                0.481398
standard_error     0.0441285
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 343, dtype: object
location_id              555
sex                     Male
age_start                 85
age_end                   89
year_start              2014
year_end                2014
mean                0.481398
standard_error     0.0441285
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 343, dtype: object
location_id              102
sex                     Male
age_start                 45
age_end                   49
year_start              2011
year_end                2012
mean               0.0761188
standard_error      0.026658
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 344, dtype: object
location_id              102
sex                     Male
age_start                 45
age_end                   49
year_start              2011
year_end                2012
mean               0.0761188
standard_error      0.026658
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 344, dtype: object
location_id              102
sex                     Male
age_start                 45
age_end                   49
year_start              2011
year_end                2012
mean               0.0761188
standard_error      0.026658
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 344, dtype: object
location_id              102
sex                     Male
age_start                 45
age_end                   49
year_start              2011
year_end                2012
mean               0.0761188
standard_error      0.026658
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 344, dtype: object
location_id              102
sex                     Male
age_start                 45
age_end                   49
year_start              2011
year_end                2012
mean               0.0761188
standard_error      0.026658
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 344, dtype: object
location_id              102
sex                     Male
age_start                 45
age_end                   49
year_start              2011
year_end                2012
mean               0.0761188
standard_error      0.026658
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 344, dtype: object
location_id              523
sex                   Female
age_start                 70
age_end                   74
year_start              2010
year_end                2010
mean                0.302824
standard_error     0.0384018
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 345, dtype: object
location_id              523
sex                   Female
age_start                 70
age_end                   74
year_start              2010
year_end                2010
mean                0.302824
standard_error     0.0384018
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 345, dtype: object
location_id              523
sex                   Female
age_start                 70
age_end                   74
year_start              2010
year_end                2010
mean                0.302824
standard_error     0.0384018
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 345, dtype: object
location_id            53553
sex                     Male
age_start                 75
age_end                   79
year_start              2010
year_end                2010
mean                0.622844
standard_error     0.0696081
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 346, dtype: object
location_id            53553
sex                     Male
age_start                 75
age_end                   79
year_start              2010
year_end                2010
mean                0.622844
standard_error     0.0696081
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 346, dtype: object
location_id            53553
sex                     Male
age_start                 75
age_end                   79
year_start              2010
year_end                2010
mean                0.622844
standard_error     0.0696081
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 346, dtype: object
location_id              573
sex                     Male
age_start                 85
age_end                   89
year_start              2014
year_end                2014
mean                0.527151
standard_error      0.119727
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 347, dtype: object
location_id              573
sex                     Male
age_start                 85
age_end                   89
year_start              2014
year_end                2014
mean                0.527151
standard_error      0.119727
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 347, dtype: object
location_id              573
sex                     Male
age_start                 85
age_end                   89
year_start              2014
year_end                2014
mean                0.527151
standard_error      0.119727
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 347, dtype: object
location_id              543
sex                     Male
age_start                  5
age_end                    9
year_start              2013
year_end                2013
mean              0.00158417
standard_error    0.00127061
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 348, dtype: object
location_id              543
sex                     Male
age_start                  5
age_end                    9
year_start              2013
year_end                2013
mean              0.00158417
standard_error    0.00127061
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 348, dtype: object
location_id              543
sex                     Male
age_start                  5
age_end                    9
year_start              2013
year_end                2013
mean              0.00158417
standard_error    0.00127061
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 348, dtype: object
location_id              551
sex                     Male
age_start                  1
age_end                    4
year_start              2013
year_end                2013
mean              0.00117221
standard_error    0.00157197
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 349, dtype: object
location_id              551
sex                     Male
age_start                  1
age_end                    4
year_start              2013
year_end                2013
mean              0.00117221
standard_error    0.00157197
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 349, dtype: object
location_id              551
sex                     Male
age_start                  1
age_end                    4
year_start              2013
year_end                2013
mean              0.00117221
standard_error    0.00157197
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 349, dtype: object
location_id              549
sex                     Male
age_start                 30
age_end                   34
year_start              2012
year_end                2012
mean              0.00260586
standard_error    0.00203369
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 350, dtype: object
location_id              549
sex                     Male
age_start                 30
age_end                   34
year_start              2012
year_end                2012
mean              0.00260586
standard_error    0.00203369
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 350, dtype: object
location_id              549
sex                     Male
age_start                 30
age_end                   34
year_start              2012
year_end                2012
mean              0.00260586
standard_error    0.00203369
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 350, dtype: object
location_id              561
sex                   Female
age_start                 55
age_end                   59
year_start              2014
year_end                2014
mean                0.121478
standard_error     0.0187357
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 351, dtype: object
location_id              561
sex                   Female
age_start                 55
age_end                   59
year_start              2014
year_end                2014
mean                0.121478
standard_error     0.0187357
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 351, dtype: object
location_id              561
sex                   Female
age_start                 55
age_end                   59
year_start              2014
year_end                2014
mean                0.121478
standard_error     0.0187357
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 351, dtype: object
location_id              524
sex                     Male
age_start                 25
age_end                   29
year_start              2012
year_end                2012
mean              0.00164569
standard_error    0.00692492
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 352, dtype: object
location_id              524
sex                     Male
age_start                 25
age_end                   29
year_start              2012
year_end                2012
mean              0.00164569
standard_error    0.00692492
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 352, dtype: object
location_id              524
sex                     Male
age_start                 25
age_end                   29
year_start              2012
year_end                2012
mean              0.00164569
standard_error    0.00692492
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 352, dtype: object
location_id              557
sex                   Female
age_start                 90
age_end                   94
year_start              2012
year_end                2012
mean                  0.3388
standard_error      0.311749
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 353, dtype: object
location_id              557
sex                   Female
age_start                 90
age_end                   94
year_start              2012
year_end                2012
mean                  0.3388
standard_error      0.311749
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 353, dtype: object
location_id              557
sex                   Female
age_start                 90
age_end                   94
year_start              2012
year_end                2012
mean                  0.3388
standard_error      0.311749
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 353, dtype: object
location_id              571
sex                   Female
age_start                 10
age_end                   14
year_start              2014
year_end                2014
mean              0.00159095
standard_error     0.0012287
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 354, dtype: object
location_id              571
sex                   Female
age_start                 10
age_end                   14
year_start              2014
year_end                2014
mean              0.00159095
standard_error     0.0012287
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 354, dtype: object
location_id              571
sex                   Female
age_start                 10
age_end                   14
year_start              2014
year_end                2014
mean              0.00159095
standard_error     0.0012287
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 354, dtype: object
location_id              102
sex                     Male
age_start                 25
age_end                   29
year_start              2011
year_end                2012
mean               0.0230105
standard_error     0.0119937
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 355, dtype: object
location_id              102
sex                     Male
age_start                 25
age_end                   29
year_start              2011
year_end                2012
mean               0.0230105
standard_error     0.0119937
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 355, dtype: object
location_id              102
sex                     Male
age_start                 25
age_end                   29
year_start              2011
year_end                2012
mean               0.0230105

location_id              525
sex                     Male
age_start                 45
age_end                   49
year_start              2010
year_end                2010
mean               0.0237694
standard_error     0.0049557
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 385, dtype: object
location_id              525
sex                     Male
age_start                 45
age_end                   49
year_start              2010
year_end                2010
mean               0.0237694
standard_error     0.0049557
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 385, dtype: object
location_id              541
sex                   Female
age_start                 80
age_end                   84
year_start              2013
year_end                2013
mean                0.411738
standard_error     0.0433155
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 386, dtype: object
location_id              541
sex                   Female
age_start                 80
age_end                   84
year_start              2013
year_end                2013
mean                0.411738
standard_error     0.0433155
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 386, dtype: object
location_id              541
sex                   Female
age_start                 80
age_end                   84
year_start              2013
year_end                2013
mean                0.411738
standard_error     0.0433155
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 386, dtype: object
location_id              552
sex                     Male
age_start                 45
age_end                   49
year_start              2013
year_end                2013
mean               0.0313106
standard_error     0.0069855
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 387, dtype: object
location_id              552
sex                     Male
age_start                 45
age_end                   49
year_start              2013
year_end                2013
mean               0.0313106
standard_error     0.0069855
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 387, dtype: object
location_id              552
sex                     Male
age_start                 45
age_end                   49
year_start              2013
year_end                2013
mean               0.0313106
standard_error     0.0069855
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 387, dtype: object
location_id              534
sex                     Male
age_start                 40
age_end                   44
year_start              2000
year_end                2000
mean              0.00750703
standard_error      0.325481
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 388, dtype: object
location_id              534
sex                     Male
age_start                 40
age_end                   44
year_start              2000
year_end                2000
mean              0.00750703
standard_error      0.325481
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 388, dtype: object
location_id              534
sex                     Male
age_start                 40
age_end                   44
year_start              2000
year_end                2000
mean              0.00750703
standard_error      0.325481
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 388, dtype: object
location_id              565
sex                   Female
age_start                 80
age_end                   84
year_start              2011
year_end                2011
mean                0.362917
standard_error     0.0419198
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 389, dtype: object
location_id              565
sex                   Female
age_start                 80
age_end                   84
year_start              2011
year_end                2011
mean                0.362917
standard_error     0.0419198
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 389, dtype: object
location_id              565
sex                   Female
age_start                 80
age_end                   84
year_start              2011
year_end                2011
mean                0.362917
standard_error     0.0419198
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 389, dtype: object
location_id             4749
sex                     Male
age_start                 70
age_end                   79
year_start              2010
year_end                2010
mean                0.382909
standard_error       0.11567
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 390, dtype: object
location_id             4749
sex                     Male
age_start                 70
age_end                   79
year_start              2010
year_end                2010
mean                0.382909
standard_error       0.11567
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 390, dtype: object
location_id             4749
sex                     Male
age_start                 70
age_end                   79
year_start              2010
year_end                2010
mean                0.382909
standard_error       0.11567
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 390, dtype: object
location_id               62
sex                   Female
age_start                 30
age_end                   39
year_start              2010
year_end                2011
mean               0.0667393
standard_error    0.00405533
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 391, dtype: object
location_id               62
sex                   Female
age_start                 30
age_end                   39
year_start              2010
year_end                2011
mean               0.0667393
standard_error    0.00405533
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 391, dtype: object
location_id               62
sex                   Female
age_start                 30
age_end                   39
year_start              2010
year_end                2011
mean               0.0667393
standard_error    0.00405533
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 391, dtype: object
location_id               62
sex                   Female
age_start                 30
age_end                   39
year_start              2010
year_end                2011
mean               0.0667393
standard_error    0.00405533
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 391, dtype: object
location_id               62
sex                   Female
age_start                 30
age_end                   39
year_start              2010
year_end                2011
mean               0.0667393
standard_error    0.00405533
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 391, dtype: object
location_id               62
sex                   Female
age_start                 30
age_end                   39
year_start              2010
year_end                2011
mean               0.0667393
standard_error    0.00405533
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 391, dtype: object
location_id               544
sex                    Female
age_start                  15
age_end                    19
year_start               2012
year_end                 2012
mean                0.0011762
standard_error    0.000760474
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 392, dtype: object
location_id               544
sex                    Female
age_start                  15
age_end                    19
year_start               2012
year_end                 2012
mean                0.0011762
standard_error    0.000760474
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 392, dtype: object
location_id               544
sex                    Female
age_start                  15
age_end                    19
year_start               2012
year_end                 2012
mean                0.0011762
standard_error    0.000760474
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 392, dtype: object
location_id              563
sex                     Male
age_start                 25
age_end                   29
year_start              2012
year_end                2012
mean              0.00304247
standard_error    0.00105793
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 393, dtype: object
location_id              563
sex                     Male
age_start                 25
age_end                   29
year_start              2012
year_end                2012
mean              0.00304247
standard_error    0.00105793
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 393, dtype: object
location_id              563
sex                     Male
age_start                 25
age_end                   29
year_start              2012
year_end                2012
mean              0.00304247
standard_error    0.00105793
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 393, dtype: object
location_id               81
sex                   Female
age_start                 85
age_end                   89
year_start              2002
year_end                2002
mean               0.0186325
standard_error     0.0298327
measure           Sincidence
ldi                        0
elevation                  0
sev                        0
Name: 394, dtype: object
location_id               81
sex                   Female
age_start                 85
age_end                   89
year_start              2002
year_end                2002
mean               0.0186325
standard_error     0.0298327
measure           Sincidence
ldi                        0
elevation                  0
sev                        0
Name: 394, dtype: object
location_id               81
sex                   Female
age_start                 85
age_end                   89
year_start              2002
year_end                2002
mean               0.0186325
standard_error     0.0298327
measure           Sincidence
ldi                        0
elevation                  0
sev                        0
Name: 394, dtype: object
location_id              564
sex                     Male
age_start                  5
age_end                    9
year_start              2010
year_end                2010
mean              0.00222736
standard_error    0.00530755
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 395, dtype: object
location_id              564
sex                     Male
age_start                  5
age_end                    9
year_start              2010
year_end                2010
mean              0.00222736
standard_error    0.00530755
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 395, dtype: object
location_id              564
sex                     Male
age_start                  5
age_end                    9
year_start              2010
year_end                2010
mean              0.00222736
standard_error    0.00530755
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 395, dtype: object
location_id              555
sex                   Female
age_start                 75
age_end                   79
year_start              2011
year_end                2011
mean                0.407205
standard_error     0.0422671
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 396, dtype: object
location_id              555
sex                   Female
age_start                 75
age_end                   79
year_start              2011
year_end                2011
mean                0.407205
standard_error     0.0422671
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 396, dtype: object
location_id              555
sex                   Female
age_start                 75
age_end                   79
year_start              2011
year_end                2011
mean                0.407205
standard_error     0.0422671
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 396, dtype: object
location_id              533
sex                   Female
age_start                 40
age_end                   44
year_start              2013
year_end                2013
mean               0.0147719
standard_error    0.00274783
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 397, dtype: object
location_id              533
sex                   Female
age_start                 40
age_end                   44
year_start              2013
year_end                2013
mean               0.0147719
standard_error    0.00274783
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 397, dtype: object
location_id              533
sex                   Female
age_start                 40
age_end                   44
year_start              2013
year_end                2013
mean               0.0147719
standard_error    0.00274783
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 397, dtype: object
location_id             4749
sex                     Male
age_start                 40
age_end                   49
year_start              1997
year_end                1998
mean               0.0838985
standard_error     0.0260687
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 398, dtype: object
location_id             4749
sex                     Male
age_start                 40
age_end                   49
year_start              1997
year_end                1998
mean               0.0838985
standard_error     0.0260687
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 398, dtype: object
location_id             4749
sex                     Male
age_start                 40
age_end                   49
year_start              1997
year_end                1998
mean               0.0838985
standard_error     0.0260687
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 398, dtype: object
location_id             4749
sex                     Male
age_start                 40
age_end                   49
year_start              1997
year_end                1998
mean               0.0838985
standard_error     0.0260687
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 398, dtype: object
location_id             4749
sex                     Male
age_start                 40
age_end                   49
year_start              1997
year_end                1998
mean               0.0838985
standard_error     0.0260687
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 398, dtype: object
location_id             4749
sex                     Male
age_start                 40
age_end                   49
year_start              1997
year_end                1998
mean               0.0838985
standard_error     0.0260687
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 398, dtype: object
location_id            53553
sex                   Female
age_start                 80
age_end                   84
year_start              2010
year_end                2010
mean                0.558086
standard_error     0.0615887
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 399, dtype: object
location_id            53553
sex                   Female
age_start                 80
age_end                   84
year_start              2010
year_end                2010
mean                0.558086
standard_error     0.0615887
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 399, dtype: object
location_id            53553
sex                   Female
age_start                 80
age_end                   84
year_start              2010
year_end                2010
mean                0.558086
standard_error     0.0615887
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 399, dtype: object
location_id              564
sex                     Male
age_start                 60
age_end                   64
year_start              2013
year_end                2013
mean               0.0946146
standard_error     0.0254773
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 400, dtype: object
location_id              564
sex                     Male
age_start                 60
age_end                   64
year_start              2013
year_end                2013
mean               0.0946146
standard_error     0.0254773
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 400, dtype: object
location_id              564
sex                     Male
age_start                 60
age_end                   64
year_start              2013
year_end                2013
mean               0.0946146
standard_error     0.0254773
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 400, dtype: object
location_id              539
sex                     Male
age_start                 60
age_end                   64
year_start              2000
year_end                2000

location_id              535
sex                     Male
age_start                 95
age_end                   99
year_start              2012
year_end                2012
mean                0.355221
standard_error     0.0676078
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 478, dtype: object
location_id              535
sex                     Male
age_start                 95
age_end                   99
year_start              2012
year_end                2012
mean                0.355221
standard_error     0.0676078
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 478, dtype: object
location_id              535
sex                     Male
age_start                 95
age_end                   99
year_start              2012
year_end                2012
mean                0.355221
standard_error     0.0676078
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 478, dtype: object
location_id               68
sex                     Male
age_start                 60
age_end                   64
year_start              2009
year_end                2009
mean                0.193472
standard_error     0.0538051
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 479, dtype: object
location_id               68
sex                     Male
age_start                 60
age_end                   64
year_start              2009
year_end                2009
mean                0.193472
standard_error     0.0538051
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 479, dtype: object
location_id               68
sex                     Male
age_start                 60
age_end                   64
year_start              2009
year_end                2009
mean                0.193472
standard_error     0.0538051
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 479, dtype: object
location_id               81
sex                   Female
age_start                 90
age_end                   94
year_start              2005
year_end                2006
mean                0.200694
standard_error      0.274066
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 480, dtype: object
location_id               81
sex                   Female
age_start                 90
age_end                   94
year_start              2005
year_end                2006
mean                0.200694
standard_error      0.274066
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 480, dtype: object
location_id               81
sex                   Female
age_start                 90
age_end                   94
year_start              2005
year_end                2006
mean                0.200694
standard_error      0.274066
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 480, dtype: object
location_id               81
sex                   Female
age_start                 90
age_end                   94
year_start              2005
year_end                2006
mean                0.200694
standard_error      0.274066
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 480, dtype: object
location_id               81
sex                   Female
age_start                 90
age_end                   94
year_start              2005
year_end                2006
mean                0.200694
standard_error      0.274066
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 480, dtype: object
location_id               81
sex                   Female
age_start                 90
age_end                   94
year_start              2005
year_end                2006
mean                0.200694
standard_error      0.274066
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 480, dtype: object
location_id              549
sex                     Male
age_start                 90
age_end                   94
year_start              2014
year_end                2014
mean                 0.47753
standard_error      0.172205
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 481, dtype: object
location_id              549
sex                     Male
age_start                 90
age_end                   94
year_start              2014
year_end                2014
mean                 0.47753
standard_error      0.172205
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 481, dtype: object
location_id              549
sex                     Male
age_start                 90
age_end                   94
year_start              2014
year_end                2014
mean                 0.47753
standard_error      0.172205
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 481, dtype: object
location_id              561
sex                   Female
age_start                 60
age_end                   64
year_start              2013
year_end                2013
mean                0.143002
standard_error     0.0217272
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 482, dtype: object
location_id              561
sex                   Female
age_start                 60
age_end                   64
year_start              2013
year_end                2013
mean                0.143002
standard_error     0.0217272
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 482, dtype: object
location_id              561
sex                   Female
age_start                 60
age_end                   64
year_start              2013
year_end                2013
mean                0.143002
standard_error     0.0217272
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 482, dtype: object
location_id              524
sex                   Female
age_start                 20
age_end                   24
year_start              2010
year_end                2010
mean              0.00122632
standard_error    0.00695277
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 483, dtype: object
location_id              524
sex                   Female
age_start                 20
age_end                   24
year_start              2010
year_end                2010
mean              0.00122632
standard_error    0.00695277
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 483, dtype: object
location_id              524
sex                   Female
age_start                 20
age_end                   24
year_start              2010
year_end                2010
mean              0.00122632
standard_error    0.00695277
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 483, dtype: object
location_id             4749
sex                     Male
age_start                 70
age_end                   79
year_start              2010
year_end                2010
mean                0.437668
standard_error      0.129857
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 484, dtype: object
location_id             4749
sex                     Male
age_start                 70
age_end                   79
year_start              2010
year_end                2010
mean                0.437668
standard_error      0.129857
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 484, dtype: object
location_id             4749
sex                     Male
age_start                 70
age_end                   79
year_start              2010
year_end                2010
mean                0.437668
standard_error      0.129857
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 484, dtype: object
location_id              558
sex                     Male
age_start                 35
age_end                   39
year_start              2014
year_end                2014
mean              0.00987433
standard_error      0.002015
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 485, dtype: object
location_id              558
sex                     Male
age_start                 35
age_end                   39
year_start              2014
year_end                2014
mean              0.00987433
standard_error      0.002015
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 485, dtype: object
location_id              558
sex                     Male
age_start                 35
age_end                   39
year_start              2014
year_end                2014
mean              0.00987433
standard_error      0.002015
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 485, dtype: object
location_id              561
sex                   Female
age_start                 15
age_end                   19
year_start              2014
year_end                2014
mean              0.00123173
standard_error    0.00038806
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 486, dtype: object
location_id              561
sex                   Female
age_start                 15
age_end                   19
year_start              2014
year_end                2014
mean              0.00123173
standard_error    0.00038806
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 486, dtype: object
location_id              561
sex                   Female
age_start                 15
age_end                   19
year_start              2014
year_end                2014
mean              0.00123173
standard_error    0.00038806
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 486, dtype: object
location_id              564
sex                   Female
age_start                 30
age_end                   34
year_start              2011
year_end                2011
mean              0.00413048
standard_error    0.00594638
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 487, dtype: object
location_id              564
sex                   Female
age_start                 30
age_end                   34
year_start              2011
year_end                2011
mean              0.00413048
standard_error    0.00594638
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 487, dtype: object
location_id              564
sex                   Female
age_start                 30
age_end                   34
year_start              2011
year_end                2011
mean              0.00413048
standard_error    0.00594638
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 487, dtype: object
location_id               544
sex                      Male
age_start                   5
age_end                     9
year_start               2012
year_end                 2012
mean               0.00137343
standard_error    0.000836295
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 488, dtype: object
location_id               544
sex                      Male
age_start                   5
age_end                     9
year_start               2012
year_end                 2012
mean               0.00137343
standard_error    0.000836295
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 488, dtype: object
location_id               544
sex                      Male
age_start                   5
age_end                     9
year_start               2012
year_end                 2012
mean               0.00137343
standard_error    0.000836295
measure            prevalence
ldi                         0
elevation                   0
sev                         0
Name: 488, dtype: object
location_id              525
sex                   Female
age_start                  1
age_end                    4
year_start              2010
year_end                2010
mean              0.00353101
standard_error    0.00156208
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 489, dtype: object
location_id              525
sex                   Female
age_start                  1
age_end                    4
year_start              2010
year_end                2010
mean              0.00353101
standard_error    0.00156208
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 489, dtype: object
location_id              525
sex                   Female
age_start                  1
age_end                    4
year_start              2010
year_end                2010
mean              0.00353101
standard_error    0.00156208
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 489, dtype: object
location_id             4749
sex                     Male
age_start                 60
age_end                   69
year_start              1996
year_end                1997
mean               0.0770356
standard_error     0.0476236
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 490, dtype: object
location_id             4749
sex                     Male
age_start                 60
age_end                   69
year_start              1996
year_end                1997
mean               0.0770356
standard_error     0.0476236
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 490, dtype: object
location_id             4749
sex                     Male
age_start                 60
age_end                   69
year_start              1996
year_end                1997
mean               0.0770356
standard_error     0.0476236
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 490, dtype: object
location_id             4749
sex                     Male
age_start                 60
age_end                   69
year_start              1996
year_end                1997
mean               0.0770356
standard_error     0.0476236
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 490, dtype: object
location_id             4749
sex                     Male
age_start                 60
age_end                   69
year_start              1996
year_end                1997
mean               0.0770356
standard_error     0.0476236
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 490, dtype: object
location_id             4749
sex                     Male
age_start                 60
age_end                   69
year_start              1996
year_end                1997
mean               0.0770356
standard_error     0.0476236
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 490, dtype: object
location_id              544
sex                     Male
age_start                 85
age_end                   89
year_start              2011
year_end                2011
mean                0.448606
standard_error     0.0454782
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 491, dtype: object
location_id              544
sex                     Male
age_start                 85
age_end                   89
year_start              2011
year_end                2011
mean                0.448606
standard_error     0.0454782
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 491, dtype: object
location_id              544
sex                     Male
age_start                 85
age_end                   89
year_start              2011
year_end                2011
mean                0.448606
standard_error     0.0454782
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 491, dtype: object
location_id              544
sex                     Male
age_start                 55
age_end                   59
year_start              2000
year_end                2000
mean                0.105898
standard_error     0.0182579
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 492, dtype: object
location_id              544
sex                     Male
age_start                 55
age_end                   59
year_start              2000
year_end                2000
mean                0.105898
standard_error     0.0182579
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 492, dtype: object
location_id              544
sex                     Male
age_start                 55
age_end                   59
year_start              2000
year_end                2000
mean                0.105898
standard_error     0.0182579
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 492, dtype: object
location_id              562
sex                   Female
age_start                 40
age_end                   44
year_start              2010
year_end                2010
mean               0.0212969
standard_error    0.00742154
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 493, dtype: object
location_id              562
sex                   Female
age_start                 40
age_end                   44
year_start              2010
year_end                2010
mean               0.0212969
standard_error    0.00742154
measure           prevalence
ldi                        0
elevation                  0
sev                        0
Name: 493, dtype: object
location_id              562
sex                   Female
age_start                 40
age_end                   44
year_start              2010
year_end                2010

In [7]:
data.head()

,location_id,sex,age_start,age_end,year_start,year_end,mean,standard_error,measure,ldi,elevation,sev
0,565,Male,5,9,2014,2014,0.002846,0.001108,prevalence,43221.145,0.000006,2.251331
1,548,Male,45,49,2010,2010,0.038595,0.007069,prevalence,44220.855,0.000000,2.338293
2,572,Male,35,39,2010,2010,0.004518,0.001533,prevalence,46588.145,0.000000,2.236901
3,537,Male,95,99,2014,2014,0.565452,0.034777,prevalence,43158.609,0.000000,2.313815
4,570,Male,60,64,2011,2011,0.108824,0.017976,prevalence,51800.535,0.000097,2.129749

In [7]:
data.to_csv('./data/copd/copd_small_cov.csv')