In [1]:
import sys
sys.path.insert(0, '../code/')
import pandas as pd
import covariate
import numpy as np

#### Read in measurement and covariates data files

In [2]:
measurement = pd.read_csv('./data/diabetes_sinc_1000_loc.csv')
overweight = pd.read_csv('./data/overweight.csv')
bmi = pd.read_csv('./data/bmi.csv')
fpg = pd.read_csv('./data/fpg.csv')
population = pd.read_csv('./data/pop.csv')

In [4]:
covariate.interpolate(measurement, {'ow': overweight, 'bmi': bmi, 'fpg': fpg}, population);

In [6]:
measurement.head()

,Unnamed: 0,location_id,X,sex,age_start,age_end,year_start,year_end,mean,standard_error,measure,ow,bmi,fpg,location_name,region_name
0,1,8,913,Female,60,99.000,2001,2002,0.000010,0.000100,Sincidence,0.367407,23.525415,5.884486,Taiwan,East Asia
1,2,8,441,Female,45,59.000,2005,2006,0.000010,0.000100,Sincidence,0.434376,23.969006,5.534053,Taiwan,East Asia
2,3,8,464,Male,0,0.999,2016,2016,0.000000,0.000012,prevalence,0.000000,25.215980,0.000000,Taiwan,East Asia
3,4,8,375,Male,15,29.000,2007,2008,0.000031,0.000100,Sincidence,0.327989,24.704975,1.826869,Taiwan,East Asia
4,5,8,956,Male,15,29.000,2001,2002,0.000032,0.000100,Sincidence,0.265633,23.871868,1.606499,Taiwan,East Asia

In [7]:
measurement.to_csv('./data/diabetes_sinc_1000_loc_cov.csv')